body { background-color: rgb(25,25,25); margin: 0; }
.editor_wrapper {
	display: flex;
	margin-top: 75px;
    height: 90%;
}
.editor_wrapper > div {
	padding: 20px;
	background-color: rgb(42, 42, 42);
}

.image_settings { max-width: 350px; overflow: auto; }
.image_filters { max-width: 156px; }
.image_settings, .image_filters {
	width: 100%;
	height: 100%;
	background-color: red;
}

.image_preview {
	width: 100%;
	background-image: url(/images/checker.jpg);
    background-repeat: repeat;
	background-size: 64px;
	margin-top: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

#upload_btn, #photo_btn {
	border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
	margin-top: 6px;
}

.pannel_title {
	font-size: 2em;
	font-family: system-ui;
	color: white;
	text-align: center;
}

.slider_wrapper { margin: auto; }
.sliders { display: inline-block; width: 100%; }
.sliders p {
	margin: 1em 0em 0em 0em;
	vertical-align: middle;
	padding: 10px 10px 10px 10px;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: system-ui;
}
.sliders input {
	position: relative;
	margin: 10px 20px 0 10px;
	vertical-align: middle;
}

input[type="range"] {
	-webkit-appearance: none;
	width: calc(95% - 70px);
	height: 10px;
	border-radius: 5px;
	background: #d7dcdf;
	outline: none;
	padding: 0;
	margin: 0;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: rgb(0, 204, 255);
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
input[type="range"]::-webkit-slider-thumb:hover { background: rgb(82, 229, 255); }
input[type="range"]:active::-webkit-slider-thumb { background: rgb(0, 160, 189); }
input[type="range"]:focus::-webkit-slider-thumb { -webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c; box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;}
input[type="range"]::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #2c3e50;
	cursor: pointer;
	-webkit-transition: background .15s ease-in-out;
	transition: background .15s ease-in-out;
}
input[type="range"]::-moz-range-thumb:hover { background: #1abc9c; }
input[type="range"]:active::-moz-range-thumb { background: #1abc9c;}	

.slider_span {
	display: inline-block;
	position: relative;
	width: 50px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	border-radius: 3px;
	background: #2c3e50;
	padding: 5px 10px;
	margin-left: 8px;
}
 
.slider_span:after {
	position: absolute;
	top: 8px;
	left: -7px;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-right: 7px solid #2c3e50;
	border-bottom: 7px solid transparent;
	content: '';
}

::-moz-range-track {
	background: #d7dcdf;
	border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer { border: 0; }


.image_filters input[type="image"] {
	max-width: 90%;
	height: auto;
}

/* Set what the filters' positions will be relative to */
#the_image { position: relative; overflow: hidden; }

/* Style the class applied to every filter's wrapper */
.my_filter {
	position: absolute;
	z-index: 10;
	border: none;
	text-align: center;
	display: inline-grid;
}

/* Style the class applied to every actual filter image */
.my_filter_header {
	padding: 10px;
	cursor: move;
	z-index: 12;
	border: 4px dashed rgba(0,0,0,0.1);
}

.h_green { background-color: green; top: -10px; right: -10px; }
.h_green:hover { opacity: 1; cursor: nwse-resize; }
.h_blue { background-color: blue; top: -10px; left: -10px; }
.h_blue:hover { opacity: 1; cursor: nwse-resize; }
.handle {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
	opacity: 0.2;
	transition: 0.3s;
	z-index: 50;
}

.delete_btn:hover { opacity: 0.6; }
.delete_btn:active { opacity: 1; }
.delete_btn {
	border: none;
	outline: none;
	background-color: red;
	opacity: 0.1;
	transition: 0.3s;
	font-size: 15px;
	color: white;
}

/*  */
/* Drag and Drop dialog part */
/*  */

/* Style the SNAPSHOT button */
#submit_button_wrapper { text-align: center; }
#submit_button:hover { background-color: rgb(255, 91, 91); }
#submit_button:active { background-color: rgb(180, 0, 0); }
#submit_button {
	width: 250px;
	height: 75px;
	background-color: rgb(255, 29, 29);
	border: none;
	outline: none;
	color: white;
	font-size: 20px;
	font-family: monospace;
	font-weight: bold;
	margin-top: 50px;
	transition: 0.3s;
	display: inline-block;
}

/* First, hide all divs containing user interaction / process status */
#the_image,
#the_webcam,
.box_dragndrop,
.box_uploading,
.box_success,
.box_error {
	display: none;
}

/* Next, setup all classes' visibility depending on upload status */

.box.is_uploading .box_input { visibility: none; }
.box.is_uploading .box_uploading { display: block; }

/* In case the browser supports drag 'n drop, the box wrapper shall
have a special class added to it
Just style it to let the user know he can drag and drop files */

.box.has_advanced_upload {
	width: 100%;
	height: calc(100% - 25px);
	background-color: #c4d1d6;
	outline: grey dashed 2px;
	outline-offset: -15px;
	transition: 0.25s;
}

#box_wrapper { display: inline-table; margin-top: 25px; margin-left: 20px; margin-right: 20px; }
.box.has_advanced_upload .box_dragndrop { display: inline; }

.box_input {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
}

.box.has_advanced_upload input[type="file"] {
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.box.has_advanced_upload label strong:hover { color: cornflowerblue; cursor: pointer; }
.box.has_advanced_upload label {
	display: block;
	text-align: center;
	font-size: 200%;
	font-family: initial;
}

.box.box.has_advanced_upload img:hover { opacity: 0.1; transform: scale(0.95); }
.box.box.has_advanced_upload img {
	width: 20%;
	height: auto;
	opacity: 0.3;
	transition: 0.4s;
}

.box.is_dragover { background-color: white; outline-offset: -30px; }

.resizable {
  background: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.resizable .resizers{
	width: 100%;
	height: 100%;
	border: 3px solid #4286f4;
	box-sizing: border-box;
}

.resizable .resizers .resizer{
	width: 10px;
	height: 10px;
	border-radius: 50%; /*magic to turn square into circle*/
	background: white;
	border: 3px solid #4286f4;
	position: absolute;
}

.resizable .resizers .resizer.bottom-right {
	right: -5px;
	bottom: -5px;
	cursor: nwse-resize;
}
