body, html { margin: 0; background-color: darkgray; }

h2 {
    color: #acacac;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
}
h3 { color: #6b6b6b; margin: 10px 0 10px 20px; }
h2, h3 {
    font-family: monospace;
    width: fit-content;
    display: flex;
    flex-flow: row;
}

.search_bar {
    display: flex;
    margin-top: 75px;
    width: calc(100% - 2px);
    height: 64px;
    background-color: #4d4d4d;
    border: 1px solid black;
    font-family: monospace;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    color: whitesmoke
}

.search_bar p {
    width: 50%;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.gallery_wrapper {
    width: 100%;
    height: calc(100% - 141px);
    display: flex;
    flex-flow: row;
}

.side_pannel {
    width: 298px;
    height: calc(100% - 2px);
    background-color: #2f2f2f;
    border: 1px solid black;
}

.main_view {
    width: calc(100% - 300px);
    height: calc(100% - 2px);
}

.sorting_tab {
    height: 58px;
    width: calc(100% - 2px);
    background-color: #242424;
    border: 1px solid black;
}

.photos {
    width: calc(100% - 2px);
    height: calc(100% - 60px);
    background-color: #171717;
    border: 1px solid black;
}

.search-container form {
    margin-bottom: 0px;
    float: right;
    margin-top: 15px;
}
.search-container { flex: 1 1 auto; }

::placeholder { color: #595959; }
.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    margin-top: 0px;
    background-color: #292929;
    color: white;
    border-radius: 5px;
    cursor: text;
    width: 300px;
}
  
.search-container button {
    height: 32px;
    float: right;
    padding: 6px 10px;
    margin-top: 0px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
  
.search-container button:hover {
    background: #ccc;
}

.main_title_wrapper {
    display: inline-block;
    margin-left: 0px;
}
.main_title_wrapper p {
    display: inline-block;
    font-family: monospace;
	font-size: 25px;
	margin-top: 40px;
    margin-bottom: 0;
    color: #acacac;
}

.content button:hover { background-color: rgba(71, 161, 251, 1); color: black; }
.content button {
    margin: 0;
    width: 100%;
    height: 35px;
    text-align: left;
    padding-top: 5px;
    padding-left: 42px;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: 14px;
    background-color: rgba(71, 161, 251, 0);
    transition: 0.2s;
    cursor: pointer;
    color: #6b6b6b;
}

#mosaic_1 {
    border: 5px inset #656565;
    background-image: url(/images/UI/mosaic_grey_1.png);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#mosaic_6 {
    border: 5px outset #656565;
    background-image: url(/images/UI/mosaic_grey_6.png);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.mosaic_buttons input[type="image"] {
	height: 45px;
	width: auto;
    outline: none;
}
.mosaic_buttons {
    float: right;
    display: flex;
    margin-top: 5px;
    margin-right: 10px;
}
