a { color: rgb(150, 150, 150); text-decoration: none; font-weight: bolder; }
body {
	margin: 0;
	padding: 0;
	color: grey;
	background-color: white;
	background-image: url("../images/homepage_background.jpg");
	background-size: 100% 100%;

}
hr {
	width: 85%;
	border-radius: 10px;
	border: 1px solid rgba(30, 30, 30, 0.9);
}

.log_panel {
	float: left;
    display: inline-block;
	margin-top: 2%;
	margin-left: 2%;
	padding-top: 20px;
	width: 600px;
	background-color: rgba(35, 35, 35, 0.8);
}

.log_panel p {
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-size: 0.9em;
	font-family: fantasy;
}

.camagru_logo { width: 65%; display: block; margin: 0 auto; }
.input_text {
	width: 80%;
	height: 1.9em;
	display: block;
	margin: 0 auto;
	margin-top: 28px;
	margin-bottom: 10px;
	border: none;
	outline: none;
	font-size: 20px;
	font-family: fantasy;
	text-align: center;
	background-color: rgba(50, 50, 50, 0.8);
	color: antiquewhite;
}

.submit:hover { background-color: rgba(112, 196, 255, 0.6); }
.submit:active { background-color: rgba(0, 112, 255, 0.6); }
.submit {
	display: block;
	margin: 0 auto;
	margin-top: 30px;
	width: 70%;
	height: 5%;
	font-size: 20px;
	font-family: fantasy;
	font-weight: bold;
	border: none;
	outline: none;
	color: white;
	background-color: rgba(0, 196, 255, 0.7);
	transition: 0.1s;
}

.wrapper { display: inline; }
.slider { 
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .slides_wrapper {
	margin: auto;
	max-width: 80%;
	height: auto;
	position: relative;
}

.useful_pannel {
	position: fixed;
	height: 2%;
	width: 100%;
	transform: translate(0%, -100%);
	background-color: #c1c1c1cb;
	text-align: center;
}

.useful_link {
	color: #3e3e3e;
	margin-right: 100px;
	margin-left: 100px;
	font-size: 12px;
	font-weight: normal;
	font-family: cursive;
}

.previous_btn { height: 5em; width: 5em; position: absolute; left: 0px; top: 45%; max-width: 5em; }
.next_btn { height: 5em; width: 5em; position: absolute; right: 0; top: 45%; max-width: 5em; }

.input_text:focus { outline: 2px solid #009eff; }
